* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*sets background color*/
body {
    background-color: #d9dcd6;
}

/*sets the padding, font, area color for the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*sets the stats for the header text*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*sets header text color*/
.header h1 .seo {
    color: #d9dcd6;
}

/*creates the box for the header and sets its padding and margins as well as its font type and size. 
makes the text float to the right of the container*/
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*the list style is set to none so it doesnt have bulletpoints*/
.header section ul {
    list-style-type: none;
}

/*makes the header display 25px left of the left container margin*/
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/*color set to white without decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*sets font size*/
p {
    font-size: 16px;
}

/*sets image stats with size and location on page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*tells the image to float to the left of the container with 25px to the right*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*tells image to float to the right of the container with 25px to the left*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*creates containters with a 75% width with a margin 20px to the left*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*creates the aside container with a right margin and padding of 20px. has a width of 20%*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*next three create the sections within the aside*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*next three set the text for the aside sections to 10px in the center*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*next three set the size of the images for the aside sections*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*next three create the containers for the articles in content*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*next three set the size for the images in the articles in content*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*set the font margins and size for the articles in content*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*creates the container for the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*sets the font size for the footer*/
.footer h2 {
    font-size: 20px;
}
